:root {
  --white: #fff;
  --black: #1a1a1a;
  --gray: #a3a3a3;
  --gray-light: #ececec;
  --yellow: #ffdc1f;
  --blue: #005cff;
  --red: #fc6767;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-helvetica-neue-cyr), var(--font-pretendard);
}

a {
  color: var(--black);
  text-decoration-thickness: 0.1rem;
}
