.wrapper {
  padding: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header-left-pretitle {
  font-size: 2.625rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.header-left-title {
  font-size: 9.375rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.header-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-right-icon-box {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.header-right-icon {
  display: flex;
  font-size: 2.625rem;
}

.header-right-email {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.875rem;
}

.project-container {
  border-radius: 2.5rem;
}

.project-title-image {
  width: 100%;
  height: auto;
  border-radius: 2.5rem;
}

.project-info-box {
  padding: 1.875rem;
  color: var(--white);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.project-title {
  font-size: 1.875rem;
  letter-spacing: -0.05em;
}

.project-description {
  line-height: 85%;
}

.button {
  margin-top: 1.25rem;
  padding: 1.25rem 1.875rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  border-radius: 3.75rem;
  background: none;
  outline: 1 solid;
  outline-color: var(--white);
  cursor: pointer;
}

.button-text {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 115%;
  letter-spacing: -0.05em;
}

.button-icon {
  font-size: 1.5rem;
  color: var(--yellow);
}
